h1 Companies#show
p Find me in app/views/companies/show.html.slim


h1 = @company.id
h1 = @company.name
h1 = @company.company_type
h1 = @company.description
h1 = @company.state
img = image_tag @company.logo.url
h1 = @company.city
